<div class="container  row mx-auto">
  <div class="col-2">
    <h2>Shop By Category</h2>
    @for(item of categoryList$ |async; track $index){
      <button class="btn">{{item.categoryName}}</button>
      <!-- <button class="btn">{{item.}}</button>
      <button class="btn">{{item.categoryName}}</button> -->
    }
  </div>
  <div class="col-10">
    <div class="row">
      @for (item of productList(); track $index){
      <!-- <div class="col-3">
      <div class="card product-card">
        <img
          [src]="item.image"
          alt="img"
          class="cars-img product-image"
        />
        <span class="category-badge">{{item.category}}</span>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="product-price">${{item.price}}</p>
          <button class="btn add-to-cart-btn" type="button">Add to Cart</button>
        </div>
      </div>
    </div> -->
      <div class="col-3">
        <div class="card product-card">
          <img
            [src]="item.productImageUrl"
            alt="img"
            class="cars-img product-image"
          />
          <span class="category-badge">{{ item.categoryName }}</span>
          <div class="card-body">
            <h5 class="card-title">{{ item.productName }}</h5>
            <p class="product-price">${{ item.productPrice }}</p>
            <button class="btn add-to-cart-btn" type="button">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
